body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

header{
  background-image: url(../images/the-flatiron-building.png);
  background-repeat: no-repeat;
}

h1{
font-size: 70px;
font-weight: bold;
color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.hero {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
ul{
  list-style-type: none;
}
li{
  padding: 5px;
}

.btn-nav{
  font-size: 18px;
  color: white
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

.credits {
  font-size: 11px;
}
